* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:blueviolet;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    min-width: 320px;
    display: block;
    margin: 8px;
}

head {
    display: none;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight:bold;

}

#form-outer {
    background-color:yellowgreen;
    margin:0 auto;
    border-radius: 4px;
    width: 75%;
    max-width: 900px;
    padding: 10px;
    padding-top: 20px;
}

div { 
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

form {
    display: block;
    margin-top: 0em;

}

label {
    cursor: default;

}

.labels {
    text-align: flex-end;

}

.rightTab {
    display: inline-block;
    text-align: flex-start;
    width: 48%;
    vertical-align: middle;
}

@media screen and (max-width: 873px){
.input-field {
width: 80%;
}
}

.input-field {
    height: 20px;
    padding: 5px;
    margin: 10px;
    border: 1px solid blue;
    border-radius: 2px;
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.checkbox {
    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
}

li {
    display:list-item;
    text-align: -webkit-match-parent;
}

#submit {
    background-color: #59ace0;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: 10px;
    border: 0px solid;
}

#result {
    border: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: static;
}

textarea {
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

number{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}